@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

#root {
    --background-main-color: #f8f8fa;
    --background-secondary-color: #ffffff;
    --background-ternary-color: #4640de;
    --background-icon-color: #f6f6fd;
    --heading-font-color: #111827;
    --secondary-font-color: #abb3c4;
    --icon-color: #abb3c4;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    text-transform: none !important;
}
#input-form-style input, select, textarea{
    border: 0.5px solid #dbdbdb;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

}
#register-bottom .divider {
    background: #A39797 !;

}

.checkbox{
    width: 18px !important;
    height: 18px !important;
    border-radius: 4px !important;
}

.activeLink{
    border-bottom: 2px solid #1496FF;
}
#home-landing-page{
    background-size: cover;
    background-position: center;
}
.total-payment-bottom-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
    line-height: 30px;
    color: #111827;
}
.heading-payment{
    font-size: clamp(1.5rem, 1.318rem + 0.7767vw, 2.25rem);
}

.label-text-style{
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.navbar-new{
    display: flex;
    align-items: center;
    /* padding: var(--navbar-padding, 0.5rem); */
}
:where(.navbar-new > *){
    display: inline-flex;
    align-items: center;
}

.heading-course-payment{
    font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
}
.home-heading{
    font-size: clamp(2.25rem, 1.5752rem + 1.8123vw, 3.75rem);
}
.home-landing-heading {
    font-size: clamp(2rem, 1.5146rem + 2.0712vw, 4rem);
}
.home-hero-paragraph{
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
}
.heading-detail-payment{
    font-size: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
}

.arrow {
    border: solid #1496FF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* about us home */
#aboutusbg, #consultant-home, #forum-section{
    background: rgba(13, 110, 253, 0.07);

}
.about-us-heading{
    font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
}

/* commercial section honme */
.commercial-heading{
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    line-height: 120%;
}
.commercial-start-from{
    font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
    line-height: 120%;
}
/* consultant card landing home  */



/* banner get investor */
#banner-get-investor{
    background: url(./public/img/banner-get-investor.svg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* class user home  */
@media screen and (min-width: 1024px) {
    .class-user-bg{
        background: url(./public/img/home-class-user-bg.svg);
        
    }    
}
.text-feature-class-user-bg{
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
}
.header-list-consultation-page{
    font-size: clamp(1.5rem, 0.9539rem + 2.3301vw, 3.75rem);
    font-weight: 600;

}

/* loader spinner */
.lds-ring {
    position: relative;
    top: -19px;
}
.lds-ring span {
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  

.card-modal-consultation{
    font-size: clamp(1.625rem, 1.2913rem + 1.4239vw, 3rem); 
    font-weight: 600;
    line-height: 120%;
}

.card-modal-consultation-category{
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
}




/* .style-arya */


/* style consultation form */
.Consultation_form {
    margin-left: 100px;
    margin-top: 44px;
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    color: #111827;
}

.Top {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0px 100px;
    width: 100%;
    background-color: #FFFFFF;
}

.home {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
}

.consultation {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
}

.funding {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
    border-width: 5px;
    border-bottom: 2px solid #1496FF;
}

.forum {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
}


.mainPanel {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 35px 40px;
    margin-left: 50px;
    width: 100%;
    max-width: 1720px;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.leftPanel {
    padding: 10px 30px;
    width: 100%;
}

.title_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 0.5px;
}

.description_input {
    border-radius: 10px;
    padding: 50px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 0.5px;
}

.Category_select {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 60px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 0.5px;
}

.rightPanel {
    padding: 10px 20px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

.Consultants_name_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 0.5px;
}

.Duration_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 40px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 0.5px;
}

.Price_input {
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 21px;
    border-color: #5A5A5D;
    border-width: 0.5px;
}

.fundingSubmission {
    background-color: #1496FF;
    padding: 10px 44px;
    margin-top: 9px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 60%;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.submit {
    display: flex;
    flex-direction: row-reverse;
}

.profilPoto {
    position: absolute;
    width: 173.54px;
    height: 115.21px;
    left: 1699.08px;
    top: 28.08px;
}

@media (orientation : portrait) {
    .Consultation_form {
        position: absolute;
        top: 20%;
        left: 0;

    }

    .mainPanel {
        position: absolute;
        top: 30%;
        padding: 120px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .leftPanel {
        padding: 10px 30px;
        width: 100%;
    }

    .title_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 93%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Category_select {
        border-radius: 10px;
        padding: 50px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 97%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .description_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 93%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .rightPanel {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
    }

    .Consultants_name_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-left: 0;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 90%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Duration_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 90%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Price_input {
        border-radius: 10px;
        padding: 10px 20px;
        width: 90%;
        margin-top: 9px;
        margin-bottom: 21px;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .fundingSubmission {
        background-color: #1496FF;
        padding: 10px 44px;
        margin-top: 9px;
        margin-bottom: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .submit {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


/* style fundign form */


blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.Funding_forum {
    margin-left: 100px;
    margin-top: 44px;
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    color: #111827;
    width: 100%;
}

.Top {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0px 100px;
    width: 100%;
    background-color: #FFFFFF;
}

.home {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
}

.consultation {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
}

.funding {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
    border-width: 5px;
    border-bottom: 2px solid #1496FF;
}

.forum {
    padding: 51px 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #111827;
}


.mainPanel {
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1720px;
    display: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.leftPanel {
    padding: 10px 30px;
    width: 100%;
}

.Company_name_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.Category_select {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.Company_address_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.Phone_number_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 20px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.bussines {
    margin-top: 9px;
    width: 100%;
    padding: 15px;
    border-style: dashed;
    border-radius: 10px;
    border-color: #5A5A5D;
    border-width: 1px;
}

.thumbnail {
    margin-top: 9px;
    width: 100%;
    padding: 20px;
    border-style: dashed;
    border-radius: 10px;
    border-color: #5A5A5D;
    border-width: 1px;
}

.drag_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
    font-size: 14px;
}

.drag_area .support {
    font-size: 12px;
    color: #C4C4C4;
    margin: 10px 0 15px 0;

}

.button {
    color: #1496FF;
}

.rightPanel {
    padding: 10px 20px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

.Company_email_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.Nominal_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.Objective_input {
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 21px;
    border-color: #5A5A5D;
    border-width: 1px;
}

.Estimation_input {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 9px;
    margin-bottom: 21px;
    width: 100%;
    border-color: #5A5A5D;
    border-width: 1px;
}

.fundingSubmission {
    background-color: #1496FF;
    padding: 10px 44px;
    margin-top: 9px;
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 60%;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.submit {
    display: flex;
    flex-direction: row-reverse;
}

.profilPoto {
    position: absolute;
    width: 173.54px;
    height: 115.21px;
    left: 1699.08px;
    top: 28.08px;
}

@media (orientation : portrait) {
    .Funding_forum {
        top: 20%;
        left: 0;

    }

    .mainPanel {
        top: 30%;
        padding: 120px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .leftPanel {
        padding: 10px 30px;
        width: 100%;
    }

    .Company_name_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 93%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Category_select {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 97%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Company_address_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 93%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Phone_number_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 20px;
        width: 93%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .bussines {
        margin-top: 9px;
        width: 93%;
        padding: 15px;
        border-style: dashed;
        border-radius: 10px;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .thumbnail {
        margin-top: 9px;
        width: 90%;
        padding: 20px;
        border-style: dashed;
        border-radius: 10px;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .drag_area {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 10px auto;
        font-size: 14px;
    }

    .drag_area .support {
        font-size: 12px;
        color: #C4C4C4;
        margin: 10px 0 15px 0;

    }

    .button {
        color: #1496FF;
    }

    .rightPanel {
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
    }

    .Company_email_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-left: 0;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 90%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Nominal_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 90%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Objective_input {
        border-radius: 10px;
        padding: 10px 20px;
        width: 90%;
        margin-top: 9px;
        margin-bottom: 21px;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .Estimation_input {
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 9px;
        margin-bottom: 21px;
        width: 90%;
        border-color: #5A5A5D;
        border-width: 1px;
    }

    .fundingSubmission {
        background-color: #1496FF;
        padding: 10px 44px;
        margin-top: 9px;
        margin-bottom: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    .submit {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}