@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

#root {
    --background-main-color: #f8f8fa;
    --background-secondary-color: #ffffff;
    --background-ternary-color: #4640de;
    --background-icon-color: #f6f6fd;
    --heading-font-color: #111827;
    --secondary-font-color: #abb3c4;
    --icon-color: #abb3c4;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    text-transform: none !important;
}
#input-form-style input, select, textarea{
    border: 0.5px solid #dbdbdb;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

}
#register-bottom .divider {
    background: #A39797 !;

}

.checkbox{
    width: 18px !important;
    height: 18px !important;
    border-radius: 4px !important;
}

.activeLink{
    border-bottom: 2px solid #1496FF;
}
#home-landing-page{
    background-size: cover;
    background-position: center;
}
.total-payment-bottom-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.784rem + 0.3883vw, 1.25rem);
    line-height: 30px;
    color: #111827;
}
.heading-payment{
    font-size: clamp(1.5rem, 1.318rem + 0.7767vw, 2.25rem);
}

.label-text-style{
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.navbar-new{
    display: flex;
    align-items: center;
    /* padding: var(--navbar-padding, 0.5rem); */
}
:where(.navbar-new > *){
    display: inline-flex;
    align-items: center;
}

.heading-course-payment{
    font-size: clamp(1.25rem, 1.1893rem + 0.2589vw, 1.5rem);
}
.home-heading{
    font-size: clamp(2.25rem, 1.5752rem + 1.8123vw, 3.75rem);
}
.home-landing-heading {
    font-size: clamp(2rem, 1.5146rem + 2.0712vw, 4rem);
}
.home-hero-paragraph{
    font-size: clamp(0.875rem, 0.8143rem + 0.2589vw, 1.125rem);
}
.heading-detail-payment{
    font-size: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem);
}

.arrow {
    border: solid #1496FF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* about us home */
#aboutusbg, #consultant-home, #forum-section{
    background: rgba(13, 110, 253, 0.07);

}
.about-us-heading{
    font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
}

/* commercial section honme */
.commercial-heading{
    font-size: clamp(1.5rem, 1.1359rem + 1.5534vw, 3rem);
    line-height: 120%;
}
.commercial-start-from{
    font-size: clamp(1.5rem, 1.2573rem + 1.0356vw, 2.5rem);
    line-height: 120%;
}
/* consultant card landing home  */



/* banner get investor */
#banner-get-investor{
    background: url(./public/img/banner-get-investor.svg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* class user home  */
@media screen and (min-width: 1024px) {
    .class-user-bg{
        background: url(./public/img/home-class-user-bg.svg);
        
    }    
}
.text-feature-class-user-bg{
    font-size: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
}
.header-list-consultation-page{
    font-size: clamp(1.5rem, 0.9539rem + 2.3301vw, 3.75rem);
    font-weight: 600;

}

/* loader spinner */
.lds-ring {
    position: relative;
    top: -19px;
}
.lds-ring span {
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  