@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#root {
    --background-main-color: #f8f8fa;
    --background-secondary-color: #ffffff;
    --background-ternary-color: #4640de;
    --background-icon-color: #f6f6fd;
    --heading-font-color: #111827;
    --secondary-font-color: #abb3c4;
    --icon-color: #abb3c4;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#input-form-style input, select{
    border: 0.5px solid #dbdbdb;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;

}
#register-bottom .divider {
    background: #A39797 !;

}

.checkbox{
    width: 18px !important;
    height: 18px !important;
    border-radius: 4px !important;
}